<div class="content">
  <form action="/users" method="POST">
    Name: <input name="name" type="text"><%= @user.name %></input>
    Password: <input name="password" type="text"><%= @user.password %></input>
    <input type="submit" value="update">
</div>