<div class="content">
  <ul>
    <% @users.each do |user| %>
<<<<<<< HEAD
      <li><a href="/users/#{user.id}"><%= user.name %></a></li>
=======
      <li><a href="/users/<%=user.id%>"><%= user.name %></a></li>
>>>>>>> 8023e1df66e346ef7dab6bb0842402456890ef52
    <% end %>
  </ul>
</div>