<div class="content">
  <ul>
      <li>What is the capital of <span></span>?</li>
  </ul>
  <span id="answer"></span>
  <form autofocus action="/decks" method="POST" id="card">
  	<input type="text" name="answer">
  </form>
  <p id="answerdisplay">The correct answer: <span></span></p>
</div>
