<div class="container">
  <h1>Welcome to the Anonymous Blog!</h1>
    <h3>Posting anonymously since 2014</h3>
    <h4>Keep it clean!<a href="/posts"> Post Here</a></h4>
    <ul>
      <% posts.each do |post| %>
        <a href="/posts/<%=post.id%>"><li><%= post.title %></li></a>
      <% end %>
    </ul>

</div>
