<div class="content">
<form method="post" action="/">
  <input placeholder="name" name="name">
  <input placeholder="password" name="password">
  <input type="submit" value="Login">
</form>
  <a href="users/new"><button>Register</button></a>
</div>
