<div class="content">
	<h1>YOUR RESULTS</h1>
	<p>You got <%= session[:correct] %> correct</p>
	<p>You got <%= session[:incorrect] %> incorrect</p>
	<a href="/"><button>Home</button></a>
	<% session.clear %>
</div>
